<form method="POST" action="/pirates">
  <p>Pirate <input type="name" name="pirate[name]"></p>
  <p>Weight <input type="name" name="pirate[weight]"></p>
  <p>Height <input type="name" name="pirate[height]"></p>

  <p>Ship Name: <input id="ship_name_1" type="name" name="pirate[ships][][name]"></p>
  <p>Type: <input id="ship_type_1" type="name" name="pirate[ships][][type]"></p>
  <p>Booty: <input id="ship_booty_1" type="name" name="pirate[ships][][booty]"></p>

  <p>Ship Name: <input id="ship_name_2" type="name" name="pirate[ships][][name]"></p>
  <p>Type: <input id="ship_type_2" type="name" name="pirate[ships][][type]"></p>
  <p>Booty: <input id="ship_booty_2" type="name" name="pirate[ships][][booty]"></p>
  <input id="Submit" type="submit">
</form>
